  {%extends 'index.html'%}
  {% block body %}
  <nav>
    <ul>
      <li><a href="/vendor">Vendor Home</a></li>
    </ul>
    
  </nav>

  <h2>Add Product</h2>
  <form action="/add_products" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <label for="warranty_period">Warranty Period:</label>
    <input type="text" id="warranty_period" name="warranty_period">
    <label for="number_of_items">Number of Items:</label>
    <input type="text" id="number_of_items" name="number_of_items">
    <label for="price">Price:</label>
    <input type="text" id="price" name="price">
    <label for="imagesURL">Image URL:</label>
    <input type="text" id="imagesURL" name="IMAGE_URL">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color">
    <label for="size">Size:</label>
    <input type="text" id="size" name="size">
    <input type="submit" value="Add Product">
  </form>

  <h2>Delete Product</h2>
  <form action="/delete" method="POST">
    <label for="PID">PID:</label>
    <input type="text" id="PID" name="PID">
    <input type="submit" value="Delete">
  </form>

  <h2>Edit Product</h2>
  <form action="/update" method="POST">
    <label for="PID">PID:</label>
    <input type="text" id="PID" name="PID">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <label for="Category">Category:</label>
    <input type="text" id="category" name="category">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <label for="warranty_period">Warranty Period:</label>
    <input type="text" id="warranty_period" name="warranty_period">
    <label for="number_of_items">Number of Items:</label>
    <input type="text" id="number_of_items" name="number_of_items">
    <label for="price">Price:</label>
    <input type="number" step ='0.01' id="price" name="price">
    <label for="imagesURL">Image URL:</label>
    <input type="text" id="imagesURL" name="imagesURL">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color">
    <label for="size">Size:</label>
    <input type="text" id="size" name="size">
    <input type="submit" value="Update">
  </form>
  
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {% endblock %}
