<style>




</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <!-- needs jinja for chat boxes and chat messages -->
<!-- chat box section -->
<div class="chat_container">
    <div class="customer_container">
        <img src="" alt="customer Image">
        <p>Hello, I have a question</p>
        <span class="time"></span>

    </div>



    <div class="vendor_container">
        <img src="" alt="Vendor Image">
        <p>Hi (username), you are now speaking with a Vendor. How can I assist you today?</p>
        <span class="time"></span>


    </div>


    <div class="admin_container">
        <img src="" alt="Admin Image">
        <p>Hi (username), Admin here! What can I do for you today?</p>
        <span class="time"></span>


    </div>
</div>














    <!-- chat history section  -->














</body>
</html>