<style>
    .registerInput{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
    }

    .btn_submit{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
    }
    .btn_submit:hover{
        background-color: cadetblue;
    }

    .formHeader{
        padding-left: 15%;
        padding-right: 15%;
    }

    form{
        padding-left: 25%;
        padding-right: 25%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'index.html'%}
    {% block body %}
    <div>
        <h3 class="formHeader">You are now Viewing the Login Page! Please login below. </h3>

        <form action="/login" method="POST">
            <input type="text" name="USER_NAME" name="EMAIL" placeholder="Enter Username or Email" class="registerInput">
            <input type="password" name="PASSWORD" placeholder="Enter Password" class="registerInput">
            <label for="ACCOUNT_TYPE">Please choose your account type here:</label>
            <Select name="ACCOUNT_TYPE" class="registerInput" required>
                <option value="Administrator">Administrator</option>
                <option value="Vendor">Vendor</option>
                <option value="Customer">Customer</option>
            </Select>
            <input type="submit" value="Login" class="btn_submit">
        </form>

    </div>
    {% if invalid %}
        <p>{{invalid}}</p>
    {%endif%} 
    {%endblock%}

    
</body>
</html>