<style>
    .registerInput{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
    }

    .btn_submit{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
    }
    .btn_submit:hover{
        background-color: cadetblue;
    }

    .formHeader{
        padding-left: 15%;
        padding-right: 15%;
    }

    form{
        padding-left: 25%;
        padding-right: 25%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'index.html'%}
    {% block body %}
    <div>
        <h3 class="formHeader">You are now Viewing the Sign Up Page! Please Sign up below. </h3>
        <form action="/register" method="POST">
            
            <input type="text" name="USER_NAME" placeholder="Enter Username" class="registerInput">
            <input type="password" name="PASSWORD" placeholder="Enter Password" class="registerInput">
            <input type="submit" value="Login" class="btn_submit">
        </form>

    </div> 
    {%endblock%}
</body>
</html>