<style>
.un_container{
    display: inline-block;
    justify-content: space-between;
    padding: 0;
}
.un_container_item{
    list-style-type: none;
    padding-bottom: 2vh;
    height: 25vh;
}
.list_item {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}
.display_div{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.display_list{
    display: flex;
    float: left;
    list-style-type: none;
    height: 30vh;
    margin: 0;
    padding: 0px 6px 0px 6px;
}

.list_item{
    display: block;
    margin: 0px 20px 0px 20px ;
    height: 25px;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
{% extends 'base.html' %}
<body>
    {% block body %}
    <section class="products">
        <div class="display_div">
            <ul class="ul_container">

                <li class="ul_containter_item">
                    <ul class="display_list">

                        <h2>Row 1</h2>
                        <li class="list_item">
                            <div>
                                <img src="product1.jpg" alt="Product 1">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>
                        </li> <br>
        
                        <li class="list_item">
                            <div>
                                <img src="product2.jpg" alt="Product 2">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>
                        </li> <br>
        
                        <li class="list_item">
                            <div>
                                <img src="product3.jpg" alt="Product 3">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>  
                        </li> <br>
        
                        <li class="list_item">
                            <div>
                                <img src="product4.jpg" alt="Product 4">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>
                        </li>
                    </ul>
                </li><br>

                <li class="ul_container_item">
                    <ul class="display_list">

                        <h2>Row 2</h2>
                        <li class="list_item">
                            <div>
                                <img src="product5.jpg" alt="Product 5">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>
                        </li> <br>
        
                        <li class="list_item">
                            <div>
                                <img src="product6.jpg" alt="Product 6">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>
                        </li> <br>
        
                        <li class="list_item">
                            <div>
                                <img src="product7.jpg" alt="Product 7">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>  
                        </li> <br>
        
                        <li class="list_item">
                            <div>
                                <img src="product8.jpg" alt="Product 8">
                                <h3>Product Name</h3>
                                <p>Description of the product goes here...</p>
                                <a href="#" class="btn">View Details</a>
                            </div>
                        </li>
                    </ul>
                </li>
 
            </ul>     
  
        </div>
    </section>
    {%endblock%}
</body>


